.wrapper {
    grid-template-areas:
        "navbar main"
        "now-playing now-playing";

    grid-template-columns: var(--nav-bar-width) 1fr;
    grid-template-rows: 1fr 5.625rem;
}

.main {
    grid-area: main;
}
