@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v100/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format("woff2");
}

:root {
    --nav-bar-width: 15rem;
    --left-sidebar-padding-right: 1.5rem;
    --left-sidebar-padding-left: 1.5rem;
}

* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    border: none;
    outline: none;
    color: white;
    font-family: "Rubik", sans-serif;
}

*::-webkit-scrollbar {
    width: 12px;

    appearance: none;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    transition: background-color 200ms;
    background-color: hsla(0, 0%, 100%, .3);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0, 0%, 100%, .5);
}

*::-webkit-scrollbar-thumb:active {
    background-color: hsla(0, 0%, 100%, .7);
}

body {
    --content-spacing: 2rem;

    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    body {
        --content-spacing: 1rem;
    }
}

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
}

.liked-songs-icon {
    background: linear-gradient(135deg, #450af5, #c4efd9);
    border-radius: 2px;
}